doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title NotFound
        link(rel="stylesheet", href="/style.css", type="text/css")
    body.errorpage
        h1 Error 404:
        h2 Requested page does not exists
        p Go back to   
            a(href="/") Homepage